.project-card {
  /* border: solid 1px; */
  width: 25vw;
  min-width: 350px;
  min-height: 25vw;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px rgb(9, 9, 9);
  margin-bottom: 5vh;
  border-radius: 10px;
  background-color: rgba(265, 265, 265, 0.7);
  color: rgb(207, 207, 207);
  transform: none;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  position: relative;
  text-decoration: none;
}

.project-card-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(20, 30, 40, 0.3);
  position: absolute;
}

.project-card:hover {
  /* background-color: rgba(265, 265, 265, 0.8); */
  box-shadow: 3px 3px 15px rgb(1, 1, 1);
  transform: scale(1.008);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}

.project-card:hover .project-card-text {
  opacity: 1;
  transform: scale(1.002);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}

.project-card:hover .project-card-overlay {
  background-color: rgba(1, 1, 1, 0.8);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}

/* .project-card:hover img {
  opacity: 0.8;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
} */

/* .project-image-div {
  width: 100%;
  height: 30vh;
  position: relative;
  top: 0;
  border-radius: 20px 20px 0 0;
  background-color: rgb(20, 20, 20);
} */

/* img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
} */

.project-card-text {
  padding: 2vh 2vw;
  opacity: 0;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.project-card-text p,
.project-card-text h3 {
  text-decoration: none;
}

.project-card-tech-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: auto;
}

.project-card-tech-list li {
  margin-right: 10px;
  margin-bottom: 2px;
  padding: 5px;
  max-width: 22vw;
  background-color: rgb(174, 174, 174);
  color: rgb(78, 78, 78);
  border-radius: 5px;
}

.link-icon-container {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}

.link-icon {
  color: rgb(207, 207, 207);
}

.project-card:hover .link-icon-container {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
}

/* .project-card-tech-list {
  opacity: 0;
}

.project-card:hover .project-card-tech-list {
  opacity: 1;
  transition: opacity 0.9s linear 2s;
  -webkit-transition: opacity 0.9s linear 2s;
  -ms-transition: opacity 0.9s linear 2s;
} */

.project-tech-item {
  opacity: 0;
  /* Initially hidden */
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  /* Transition for opacity */
  margin-bottom: 5px;
  /* Add spacing for better visibility */
}

.project-card:hover .project-tech-item {
  opacity: 1;
  /* Show on hover */
}
