html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana !important;
  overflow-x: hidden;
}

nav {
  position: absolute;
  z-index: 3;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  padding: 0 10vw;
  height: 15vh;
  align-items: center;
}

.nav-light a {
  color: white;
}

.nav-dark a {
  color: black;
}

.nav img,
.nav .nav-heading a {
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-heading {
  height: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
  color: white;
}

.nav a {
  text-decoration: none;
  font-size: 1vw;
}

footer {
  color: white;
  bottom: 0;
  height: 5vh;
  z-index: 2;
  position: absolute;
  width: 100vw;
  text-align: right;
  line-height: 5vh;
}

footer p {
  margin: 0;
  padding: 0;
  font-size: 1.5vh;
  margin-right: 1vw;
}
